/*bg main  classes */

.bg{
	background-image: url('../img/back.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 590px;
	width: 100%;
	margin-top:4.2%;
	position: relative;
}
.bg-2{
	background-image: url('../img/bg-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:4.2%;
	height: 300px;
	position: relative;
}
.bg-3{
	background-color:rgba(255, 255, 255, 0.5);
	
}

.bg-4{
	background-color:#EFEFF4;
}
.bg-5{
	background-color:rgba(30, 30, 82, 0.6)
}
.bg-6{
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}
.size {
	 box-sizing: border-box;
	 border-radius:10px;
	 padding: 0 10px;
	 width: 100px;
}

/*bg main classes */

/* navigation */
/*.portalname{
	top:67%;
	left: 0;
	z-index: 4;	
	font-family: "BPG Arial Caps", sans-serif;
	color:#ffffff;
	line-height: 1.6;
	font-weight: 600;
}*/

.ml1 {
	top: 65%;
font-family: "BPG Arial Caps", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }
.nav-color {
	font-family: "BPG Arial Caps", sans-serif;
	background-color:rgba(255, 255, 255, 0.8);	
	font-weight: 700;
 }
 .a-color{
 	color:#20205E;

 }
 .a-color:hover {
 	color: #ffffff;
 	background:#20205E;
 	opacity: 0.9;
 }
.burger {
	color:#040B3A;
}
.burger:hover {
	color: #ffffff;
 	background:#20205E;
 	opacity: 0.9;
}
.right-side1 {
	display: none;

}
.search{
	width: 320px;
	padding: 15px;
	top: 100%;
	right: 16%;
	position: absolute;
	background-color:rgba(255, 255, 255, 0.8);
	display: none;
	border: 1px solid #ffffff;
}
.search1{
	display: none;
}

.input-search {
	border-radius: 10px;
	width: 210px;
}

.search-icon{
	color: #20205E;
    font-size: 16px;
    right: 6%;
    top: -14%;
    cursor: pointer;
}
.search-icon1{
	font-size: 16px;
	cursor: pointer;
}
.enter {
	color:#20205E;
	font-size: 13px;
	text-decoration: none;
}
.enter:hover{
	color: #ffffff;
 	background:#20205E;
 	opacity: 0.9;
 	padding: 5px;
	text-decoration: none;
}

/* navigation */


/* category section */
.main-name{
	font-family:"BPG Arial", sans-serif;
	font-weight: 700;
}

.category1 {
	font-family:"BPG Arial", sans-serif;
	font-weight: 700;
	cursor:pointer;
	transition: transform .3s;
}

.category1:hover .addtext{
	opacity: 1;
}
.category1:hover{
	transform: scale(1.2,1.2);
}
.addtext{
	text-align: center;
	font-size: 14px;
	word-break: break-word;
    word-spacing: 50px;
    opacity: 0; 
    padding-bottom: 15px;
} 

.color{
	font-family: "BPG Arial", sans-serif;
	color: #20205E;
}
.color:hover{
	color:  #20205E;
	text-decoration: none;
}
.cube {
	margin: auto;
	width: 85px;
}
.icon {
	width: 60px;
	transform: translate(-47%,-115%);
}

/* category section */

/*video section */


.video {
	background-color: #20205E;
}

/*video section */



/*footer*/
.social {
	font-size: 20%;
	white-space: nowrap;
}
.icon-footer {
	width: 35px;

}

.item-text {
  color:#20205E;
  font-family: "BPG Arial", sans-serif;
  font-weight: 600;
  padding: 7px 0px;
  margin-top: -6px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
/*footer*/


/*about page*/
.caret {
	font-size: 20px;
	font-family: "BPG Arial", sans-serif;
	cursor: pointer;
}
.drop{
	opacity: 0.9;
	font-family: "BPG Arial", sans-serif;
}
.drop-item{
	color: #20205E !important;
	font-weight: 600 !important;

}
.drop-item:hover {
	background-color: #d7d7dc!important;
}
.aboutbg{
	background-image: url('../img/aboutbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:6%;
	height: 300px;
	position: relative;
}
.aboutpic{
	width: 300px;
	transform: translate(0%,40%);
}
.abouttext{
	font-family: "BPG Arial", sans-serif;
	color: #20205E;
	font-weight: 600;
	word-wrap: break-word;
	font-size: 20px;
	text-align: justify;
}


/*about page*/

/*blog page*/
.blogbg{
	background-image: url('../img/blogbg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:6%;
	height: 300px;
	position: relative;
}

.pic {
	max-width:300px;
	width: 100%;
}

/*blog page*/

/*design page*/
.designbg{
	background-image: url('../img/designbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:4.2%;
	height: 300px;
	position: relative;
}

/*design page*/

/*coding page*/
.codingbg{
	background-image: url('../img/coding.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:4.2%;
	height: 300px;
	position: relative;
}


/*coding page*/


/*mob page*/
.mobbg{
	background-image: url('../img/mobbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top:4.2%;
	height: 300px;
	position: relative;
}


/*mob page*/

/* media*/

@media (max-width: 1125px){
	.bg{
		margin-top: 5%;

	}
	.mobbg{
		margin-top: 5%;
	}
	.category1{
		font-size:13px;
		word-wrap: break-word;
		height: 100px;
		padding:20px 4px;
	}
	.padding-bottom{
		padding-bottom: 70px;
	}
}

@media (max-width: 991px){

	.margin-left.last22{
		margin-left: 0!important;
	}
	.right-side{
   		 display: none;
	}
	.right-side1{
		display: block;
/*	    position: fixed;*/

	    /*top: 4%;*/
	}
	.search1{
		width: 320px;
		padding: 15px;
		top: 100%;
		right: 12%;
		position: absolute;
		background-color:rgba(255, 255, 255, 0.8);
		display: none;
		border: 1px solid #ffffff;
	}
	.a-color{
		margin:1.5% 0;
	}
	.a-color:hover {
		color: #ffffff;
		background-color:inherit;
		border-radius: 0px;
 	}  
 	.bg {
 		margin-top: 8%;
 	}
 	.mobbg{
		margin-top: 8%;
	}
 	.bg-2{
 		margin-top:8%;
 	}	
 	.blogbg{
 		margin-top:10%;
 	}
 	.category1:not(:hover) .addtext{
	opacity: 1;
	}
 	.cube{
		padding: 3px;
 		width: 135px;
 	}
 	.icon{
		padding: 3px;
 		width:100px;
 	}

 	.addtext{
 		font-size:18px;
 		margin-top: 5px;
 		word-spacing: 5px;
 		white-space: nowrap;
 	}

 	.responsive-category1{
 		padding-top: 15%;
 	}
 	.last{
 		padding-bottom: 13%!important;
 	}
 	.category1:hover{
 		transform: scale(1.0,1.0);
 	}
 	.hr1{
 		display: block;
 	}
 	.pic {
		max-width:250px;
		width: 100%;
	}
}
@media (max-width: 900px){
	.bg{
		margin-top: 9%;
	}
	 .mobbg{
		margin-top: 9%;
	}

}

@media (max-width: 740px){
	.bg {
 		margin-top: 11%;
 	}
 	 .mobbg{
		margin-top: 11%;
	}
 	.bg-2{
 		margin-top:12%;
 	}
 	.blogbg{
 		margin-top:12%;
 	}
 	.pic {
		max-width:500px;
		width: 100%;
	}


}
@media (max-width: 590px) {
	.bg {
 		margin-top: 13%;
 	}
 	 .mobbg{
		margin-top: 13%;
	}
 	.bg-2{
 		margin-top:15%;
 	}
 	.blogbg{
 		margin-top:15%;
 	}

 	.portalname h2{
		font-size: 1.5rem;
	}
}


@media (max-width: 465px) {

}